<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Meta Tags for SEO -->
<meta name="description" content="MaazPins - Explore and share creative pins like images, designs, and ideas. Created by Maaz Javed.">
<meta name="keywords" content="Pinterest Clone, MaazPins, Creative Pins, Images, Inspiration, Maaz Javed">
<meta name="author" content="Maaz Javed">


  <title>ReelNest || <%= otherUser.fullname %> Profile</title>
  <link rel="stylesheet" href="/stylesheets/otherUsersProfile.css"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  
    <%- include("partials/flash") %>
    
  <%- include("partials/header2") %>
  


  
  
  
    <!-- Profile Section -->
  <header class="profile-header">
   <div class="profileImage" >
    <img src="<%= otherUser.profileImage %>" alt="Profile" class="profile-pic"/>
    </div>
    <h1> <%= otherUser.fullname %> </h1>
    <h1 class="username"> @<%= otherUser.username %> </h1>
    
    
        <div class="containerFollowers">
  <a href="/showfollowers/<%= otherUser._id %>" class="followers"> <span>Followers</span> <span class="count2">|&nbsp; <%= otherUser.followers.length %>&nbsp; |</span></a>
  <a href="/showfollowing/<%= otherUser._id %>" class="following"> <span>Following</span> <span class="count1">| &nbsp;<%= otherUser.following.length %>&nbsp; |</span></a>
</div>
    
    
  <div class="containerBio"><p class="bio"><%= otherUser.bio %></p><i class="showMore fa-solid fa-circle-chevron-down show-more-icon"></i></div>

  
<!-- block or follow users btns -->
<div class="btnsbox">
  <button class="block-btn"><p>Block This User</p> <i class="fas fa-exclamation-triangle"></i></button>
      <button  class="follow" type="submit">
        <p><%= otherUser.followers.includes(loggedInUser._id)?"Followed" :"Follow" %></p> <i class="fas fa-user-plus"></i>
      </button>
    </div>

    
    <form hidden id="blockUserData" action="/users/blockuser" method="post">
    <input type="text" name="id" value="<%= otherUser._id %>">
    <button type="submit"></button>
    </form>

<div class="divider"></div>
  <!-- Pins Grid -->
  
<h4 class="pin-heading"> Saved Posts:</h4>
<section class="pin-section">

  <div class="pin">
    <img src="https://iili.io/Fnryyhb.jpg" alt="Coding Setup" />
<a href="/otherUsersPin/<%= otherUser._id %>"><p class="category">Saved Posts <%= otherUser.pins.length %></p></a>
  </div>
  

  
</section>
  
  
      <h4 class="heading2">Posts By <%= otherUser.fullname %>:</h4>
  <section class="masonry">

<% if(otherUser.post.length > 0 ) { %>
 <% if(otherUser.accountVisibility === "Public") { %>
<% otherUser.post.forEach((eachPost)=>{ %>
    <div class="masonry-item">
   <%   if(eachPost.mediaType === "image"){ %>
      <img src="<%= eachPost.mediaType %>" alt="">
  <% } else { %>
    <video src="<%= eachPost.mediaUrl %>"></video>
   <%   } %>
      <h2><%= eachPost.postdata %> </h2></div>

<% }) %>
<% } else { %>
<h1 style="font-size:14px;margin:50px 0px 200px 70px;width:48vw;color:red;">This Account is Private due to Privacy Settings &nbsp; <i style="color:white" class="fas fa-lock"></i> </h1>
<% } %>
<% }else {%>
<h1>No posts Found...</h1>
<% } %>


  </section>
 
    
  <script> 
  document.querySelector(".block-btn").addEventListener("click",function(){
    document.querySelector("#blockUserData").submit()
  })
  
  let followUser =  function(){
  
  let btn =  document.querySelector(".follow");
  if(!btn) return
  btn.addEventListener("click",async function(){
  try {
        let user = <%- JSON.stringify(otherUser) %>
   let response = await fetch("/users/followuser", {
      method:"POST",
      headers:{
        "Content-Type":"application/json"
      },
      body: JSON.stringify({
        id:user._id,
      }),
    })
    
let data = await response.json()

if (typeof data.followersCount === "undefined" || typeof data.followingCount === "undefined") {
  return console.log("error");
}


let followers = document.querySelector(".count2");
let following = document.querySelector(".count1");


followers.innerHTML = `|&nbsp; ${data.followersCount} &nbsp;|`;
following.innerHTML = `|&nbsp; ${data.followingCount} &nbsp;|`
btn.innerHTML = `        <p>Followed </p> <i class="fas fa-user-plus"></i>`
  } catch (err) {
  console.log(err.message)
  }
  });
  };
  
  followUser()
  


let showMoreBtn = document.querySelector(".showMore");
let containerBio = document.querySelector(".containerBio");
let userDescription = document.querySelector(".bio");
let flag = true
showMoreBtn.addEventListener("click",function(){

if(flag){
  containerBio.style.cssText = "min-height:0vh"
  userDescription.classList.add("showText");
  showMoreBtn.classList.remove("fa-circle-chevron-down");
  showMoreBtn.classList.add("fa-circle-chevron-up");
   
  showMoreBtn.style.cssText = "bottom:0;left:288px"
  flag = false;
} else {
  containerBio.style.cssText = "min-height:2vh"

  showMoreBtn.classList.remove("fa-circle-chevron-up");
  showMoreBtn.classList.add("fa-circle-chevron-down");
userDescription.classList.remove("showText");
flag = true
}
})  
  </script>
</body>
</html>